<p>Choose a medium: rock, paper or scissors. <br>
Type in '/game' in the url, followed by a combination of 'rock',
paper' or 'scissors', putting a forward slash before each choice.
<br> See who wins.</p>
