<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <p>This is the game for you. Welcome stranger.</p>
  <%= yield %>
  <nav>
    <ul>
      <li><a href="/"><span style="color:#ffffff">Home</a></span></li>
      <li><a href="/game_rules"><span style="color:#ffffff">Rules of the Game</a></span></li>
    </ul>
  </nav>
</body>
</html>
